.container {
  height: calc(100vh - var(--space-5) * 2);

  @media (max-width: 768px) {
    height: calc(100vh - var(--space-4));
  }
}

.card {
  background-color: var(--white);
  height: 100%;
  box-shadow: var(--shadow-soft);
  border-radius: var(--border-radius-11);
  padding: var(--space-5);
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative;
  background-image: var(--noise-light);
  background-repeat: repeat;

  &::before {
    content: "";
    position: absolute;
    inset: var(--space-0);
    background-image: url("/app/assets/grid.jpg");
    background-repeat: repeat;
    opacity: 0.25;
    border-radius: var(--border-radius-11);
    pointer-events: none;
    z-index: var(--z-index-0);
  }

  @media (max-width: 768px) {
    padding: var(--space-3);
    border-radius: var(--border-radius-8);
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: var(--space-5);
  position: relative;
  z-index: var(--z-index-1);
}

.content {
  text-align: center;
  display: grid;
  place-content: center;
  gap: var(--space-4);
  position: relative;
  z-index: var(--z-index-1);

  p {
    color: var(--light-gray);
    font-size: clamp(
      var(--font-size-2),
      calc(1vw + 0.5rem),
      var(--font-size-5)
    );
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
  }
}
