.container {
  max-width: var(--max-width-default);
  padding: var(--space-0) var(--space-4-5);
  margin: var(--space-0) auto;
  width: 100%;

  @media (min-width: 1100px) {
    padding: var(--space-0) var(--space-8);
  }
}
