.container {
  display: flex;
  gap: var(--space-0);
  background-color: var(--black);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--border-radius-11);

  a,
  a:visited,
  a:active {
    color: var(--white);
    position: relative;
    cursor: pointer;
    text-decoration: none;
    padding: var(--space-2);
    border-radius: var(--border-radius-11);
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  a:hover {
    color: var(--black);
  }
}

.label {
  white-space: nowrap;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
  overflow: hidden;
  display: inline-block;
}

.hover {
  position: absolute;
  inset: 0;
  background-color: var(--white);
  z-index: -10;
  border-radius: var(--border-radius-11);
}
